---
layout: default
---

<article class="post article-single-page">
  <h1>
  		<a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a>
      	<div class="time"> {{ page.time }} </div>
   </h1>

  <div class="entry post-single-page">
    {{ content }}
  </div>

  <div class="PageNavigation">
  {% if page.next.url %}
    <a class="prev" href="{{page.next.url}}">&laquo; {{page.next.title}}</a>
   {% else %}
   <a class="prev" href="#"></a>
  {% endif %}
  {% if page.previous.url %}
    <a class="next" href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
  {% endif %}
</div>

</article>
